{% extends "layout.html" %}
{% block body %}


  <!-- Page Header -->
  <header class="masthead"  >
    <div class="col-lg-8 col-md-10 mx-auto"></div>
    <div class="container">
      <div class="row">
        <!-- <div class="col-lg-4 col-md-10 ">
          <div class="page-heading">
            <h1 style="color:#e6f7ff;"></h1>
            <span class="subheading"></span>
          </div> -->

        </div>
      </div>
    </div>
  </header>
<hr></hr><hr></hr><hr></hr><hr></hr><hr></hr>
  <!-- Main Content -->
<section class="wrapper" >
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div></section>
  <div class="container" >
    <!-- <div><img class="img-fluid" src=" {{ url_for('static',filename='img/moonfighter1.png')}} " alt="" width="1400" height="1400"></div> -->
    <div>
    <center>
      <img class="div-block-14" data-aos="zoom-out" src=" https://uploads-ssl.webflow.com/6091a2b9b25d7af147653dd0/60929f74e69fd437c33c27ad_background.png " width = "95%" height="20%" >
</center>

    </div>

    <hr></hr>

    <div class="row">
      <div>

            <div class="page-heading">

            <center><h1 style="text-align:center;color:white;text-shadow: 2px 2px 8px #ffdb4d;">ABOUT US</h1></center>
            <span class="subheading"></span>

            </div>


   <!--      <div id="stars"></div>
        <div id="stars2"></div> -->
        <center><div  >
         <center>
          <p class="col-lg-8 col-md-10 mx-auto"   style="text-align:center;font-weight: bold;color:white;font-size: 25px;">We came up with MoonFighters as we have noticed a gap in the market for a token that helps ordinary people like us, we know the struggle of being stuck in a 9 - 5 job, and we decided to launch MoonFighters as a means to give back to people who suffer consequences of being unable to sustain themselves financially. How do we plan on doing this? We have looked at problem from multiple angles and have decided that we want to both give back to ordinary people and also the community that is willing to drive the project forward.</p>
        
        </center>

        <center>
          <p class="col-lg-8 col-md-10 mx-auto" style="text-align:center;font-weight: bold;color:white;font-size: 25px;">
          We have taken the approach of using our tokenomics to achieve our goal by giving back 4% of all transactions to all holders and having a 2% charity wallet that will be focused on giving back to food banks, homeless shelters and charities that allow people to get back on their feet. We look forward to engaging with our community to gain more ideas and feedback on our current ones..
         </p>
       </center>
    </div>
    </center>
       
       
    <hr></hr>
<center>
  <img src="https://uploads-ssl.webflow.com/6091a2b9b25d7af147653dd0/609554d48bd349097a484c0e_pancakelogo.png" width = "200"/>
<div class="page-heading">
   <hr></hr>
            <h1 style="text-align:center;color:white;text-shadow: 2px 2px 8px #ffdb4d;">BUY PANCAKE</h1>

            <span class="subheading"></span>

          </div></center>
    <hr></hr>

    <center>

      <iframe class = " col-md-6 mx-auto"  id="iframe-swap" src="https://exchange.pancakeswap.finance/#/swap" alt="" width="1000" height="1000" style="background-color:white;"></iframe>

    </center>
          
          <hr></hr><hr></hr><hr></hr>

          <center>

            <img src="{{ url_for('static',filename='img/logo2.png')}}" width = "200"/>

<div class="page-heading">
  <hr></hr>

            <h1 style="text-align:center;color:white;text-shadow: 2px 2px 8px #ffdb4d;">MOON FIGHTERS ROADMAP</h1>


            <span class="subheading"></span>
          </div>

        </center>

    <hr></hr>
    <div>
        <section class="wrapper" >
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div></section>
       <center>
        <img class="img-fluid" data-aos="zoom-in" src=" {{ url_for('static',filename='img/sss.jpg')}} " alt="" width = "100%" height="50%">
      </center>
    </div>
 <hr></hr><hr></hr><hr></hr>


       <section class="wrapper" >
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div></section>



      </div>
    </div>
  </div>

  <hr>

 
{% endblock %}
